/*index page*/
.add_palitra {
display: block;
position: fixed;
right: 0;
top: 400px;
z-index: 99999;
}

.question {
	size: 40px;
	transform: (270deg);
}

.navbar{
	background-image: linear-gradient(to right,#ff7854 0,#ff5079 100%) ;
	height: 80px;
}

.nav__name {
	margin: 0 70px 0 70px;
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
}

nav a{
	margin: 0;


	color: white;
	font-size: 18px;	
}

.search {
	background-color: white;
}

.form-control{
	width: 150px;
}

.nav_pages {
	margin-right: 30px;
	text-decoration: none;
}

.nav__link {
	text-decoration: none;
}

.d-block {
	height: 300px;
}

.genres__section{
	margin-top: 50px;
}

.row {
	padding-bottom: 20px;
}

.title{
	font-size: 26px;
	font-weight: 600;
	color: #080808;
	padding-left: 20px;
	margin-top: 20px;
}

.genre{
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.card-img-overlay {
	background-color: black;
	opacity: 0.6;
	margin: 60px 0 60px 0;
}

.card-text{
	color: white;
	font-size: 26px;
	font-weight: 600;
	text-align: center;	
}

.book-text{
	color: black;
}

.answer_text {
	color: green;
	font-weight: 600;
	padding-left: 20px;
	font-size: 20px;
}

.choice__section{
	margin-top: 50px;
}

.footer {
	background-color: #c5375a;
	height: 300px;
	bottom: 0;
}

.container__footer {
	min-height: 100px;
	padding: 40px 80px;
}

.footer_titles {
	opacity: 0.7;
	color: lightgrey;
	font-size: 22px;
}

.footer_links {
	text-decoration: none;
	color: white;
}

.line {
	width: 100%;
	size: 2px;
	color: darkred;
	padding-top: 10px;
}

.copyright {
	text-align: center;
}

.copyright_title {
	opacity: 0.7;
	color: lightgrey;
}


/*about page*/

.about {
	margin-top: 50px;
	margin-bottom: 200px;
}

h2 {
	color: grey;
	font-weight: 500px;
}	

.soc {
	width: 150px;	
}

.icon {
	width: 50px;
	height: 50px;
}

.twitter {
	width: 150px;
	height: 50px;
	background: #2ca1f6;
}

.facebook {
	width: 150px;
	height: 50px;
	background: #3c599b;
}

.mail {
	width: 150px;
	height: 50px;
	background: #848484;
}

.tumblr {
	width: 150px;
	height: 50px;
	background: #37445d;
}

.about_text {
	font-size: 18px;
	padding-left: 15px;
}

.genres_search {
	margin-top: 30px;
	margin-bottom: 150px;
}

.filters {
	margin-top: 50px;
}

.form-check-input{
	width: 20px;
	height: 20px;
}

.form-check-label {
	font-size: 18px;
	padding-left: 20px;
}

.form-check {
	padding-bottom: 10px;
}

.stars {
	color: green;
	font-size: 20px;
}

.search_btn {
	margin-top: 20px;
	width: 200px;
	height: 30px;
	text-align: center;
	background-color: green;
	color:white;
}

.book_info_container {
	padding-top: 50px;
	padding-left:100px;
	padding-bottom: 50px;
}

.book_info {

}

.book_img{
	width: 180px;
	height: 260px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}